:root {
    /* COLORS */
    --eeeeee: #eee;
    --3a3a3a: #3a3a3a;
    --686868: #686868;
    --c0c0c0: #c0c0c0;
    --446df6: #446df6;
    --e9ecf5: #e9ecf5;
    --141b41: #141b41;
    --72727e: #72727e;
    --f7f8fd: #f7f8fd;

    /* FONTS */
    --font-family: "GT Eesti Pro Display", sans-serif;
}
